{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Mapa Gacek</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<body>
    <h1>Map</h1>
    <button id="locate-btn" style="width: auto; margin-bottom: 10px; background-color: #0984e3;">
    📍 Where I'm?</button>

    <div id="map"></div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="{% static 'script.js' %}"></script>
</body>

</html>